/* Header */

.header-all {
  margin-top: 10px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 999;
}
/* Logo and Logo name */

.logo {
  font-size: 22px;
  display: flex;
  flex-direction: column;
}
.logoName {
  margin-right: 10px;
  font-weight: bold;
}
.logoIcon {
  margin-right: 15px;
  color: darkkhaki;
  font-size: 25px;
}
.logoText {
  margin-top: 10px;
  color: #a08d8d;
  font-size: 15px;
}
/* Dropdown Language Menu */
.language {
  margin-top: 15px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content p {
  margin-top: 10px;
  cursor: pointer;
}
.dropdown-content p:hover {
  text-decoration: underline;
  color: red;
}
.language:hover .dropdown-content {
  display: block;
}

.language span {
  color: #a08d8d;
}
/*Motivation*/
.registerMotivation {
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  width: 60%;
}
.registerMotivation p {
  margin-top: 20px;
  font-size: 20px;
  width: 70%;
  text-align: justify;
  color: #a08d8d;
}
/* Registration and Motivation */
.rWrapper {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  width: 100%;
}
.register {
  width: 80%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
}
/* Reg Buttons */

.registerPlace {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
}
.btn {
  text-transform: uppercase;
  margin-top: 20px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  width: 70%;
}
.regNow {
  background-color: #58cc02;
  color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.haveAcc {
  margin-top: 10px;
  background-color: #fff;
  color: #1cb0f6;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.adverIn {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
  text-align: center;
}
/* sad things */
.navbar-links {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
.navbar-links a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.navbar-icons {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.faicon {
  color: #a08d8d;
  margin: 0 50px 0 0; /* Add horizontal spacing between icons */
  font-size: 20px;
}
