/*Motivation*/
.registerMotivation {
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  width: 60%;
}
.registerMotivation p {
  margin-top: 20px;
  font-size: 20px;
  width: 70%;
  text-align: justify;
  color: #a08d8d;
}
/* Registration and Motivation */
.rWrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}
.register {
  width: 80%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
}
/* Reg Buttons */

.registerPlace {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
}
.btn {
  text-transform: uppercase;
  margin-top: 20px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  width: 70%;
}
.regNow {
  background-color: #58cc02;
  color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.haveAcc {
  margin-top: 10px;
  background-color: #fff;
  color: #1cb0f6;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.adverIn {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
  text-align: center;
}
/* Course Icons Bottom */
.bottomWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
}
.bottomWrapper h1 {
  font-family: "Varela Round", sans-serif;
  font-size: 28px;
  margin-bottom: 12px;
  margin-top: 12px;
  color: gray;
}
.courseTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.courses {
  display: flex;
}
.courses p {
  margin-right: 10px;
}
