.testWrapper {
  display: flex;
  justify-content: center;
}
.card {
  height: 50px;
  width: 60%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
.cardQuestion {
  border: 1px solid red;
  width: 60%;
  text-align: center;
}
