* {
  font-family: "Varela Round", sans-serif !important;
}

.testWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  height: 100px;
}
.card {
  height: 50px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardQuestion {
  margin-top: 10px;
  width: 60%;
  text-align: center;
  width: 60%;
  height: 60px;
  margin-bottom: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px;
  background-color: #1cb0f6;
  font-weight: bold;
  color: #fff;
}
.cardAnswer {
  border: 1px gray;
  text-align: left;
  width: 60%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px;
}
.cardAnswer p {
  margin-top: 5px;
}
.cardAnswer p:hover {
  cursor: pointer;
  text-decoration: underline;
}
/*Tests passed on right*/
.testPassed {
  width: 20%;
  height: 50px;
  text-align: center;
  padding: 5px;
}
.passCredit {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.passCredit div {
  width: 30px; /* Adjust the width to your preference */
  margin-right: 5px;
  box-sizing: border-box; /* Include padding and border in the total width */
  text-align: center; /* Center the content horizontally */
  border: 1px solid black;
  background-color: whitesmoke;
}
.passCredit div:hover {
  cursor: pointer;
}
.correct {
  background-color: #58cc02 !important;
  color: white;
}
/* Overlay */

.overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
  position: fixed;
  width: 100%;
  height: 100%;
}
