/* Header */

.header-all {
  margin-top: 20px;
}
.navbar {
  display: flex;
  flex-direction: row;
}
.navbar-links {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
.navbar-links a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.navbar-icons {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  /* margin-left: auto; */
}
.faicon {
  color: #a08d8d;
  margin: 0 50px 0 0; /* Add horizontal spacing between icons */
  font-size: 20px;
}
